@media screen and (max-width: 550px) {
    .top-section-header {
        font-size: 2em !important;
        margin-bottom: 2.8em !important;
    }
    .top-section-buttons {
        display: block !important;
    }
    .hero-button {
        display: none !important;
    }
    .bottom-0 h2 {
        font-size: 1em !important;
    }
    .bottom-0 button {
        display: none !important;
    }
    .hero-items .my-5 {
        display: none !important;
    }
}