@media screen and (max-width: 550px) {
    /* h2 {
        display: none !important;
    } */
    .confused {
        display: none !important;
    }
    .secondary-button {
        display: none !important;
    }
}